{% extends 'vege/base.html' %}

{% block start %}

<div class="container mt-5">
    <form class="card p-3 col-6 mx-auto" method="post">
        {% csrf_token %}
        {% if messages %}
          <div class="alert alert-danger" role="alert">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
        <h2>Login</h2>
        <hr>

      <div class="form-group mb-3">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group mb-3">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <p>Want to Register <a href="/register/">SignUP</a> here</p>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>


{% endblock %}